[color]
	ui = true
[user]
	name = Jeremy Cook
	email = jeremycook0@icloud.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = vim
[push]
	default = matching
[credential]
	helper = osxkeychain
[advice]
	ignoredHook = false
