[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	editor = nvim
[push]
	default = current
[credential]
	helper = osxkeychain
[advice]
	ignoredHook = false
[branch]
	autoSetupRebase = always
[pull]
	default = current
[include]
	path = ~/.local_git_config
