*.lvimrc
*.vim/bundle/**
*.vim/.netrwhist
*.vim/autoload
*.vim/plugged
*.swp
*.swo
*.swn
*/phpinfo.php
*.php_cs.cache
.DS_Store
*.idea
*.phpunit.result.cache
*tests/.phpunit.result.cache
*tests/Assertions/.phpunit.result.cache
*tests/Messages/.phpunit.result.cache
